.container {
  max-width: 900px;
  margin: 40px auto;
  padding: 10px;
}

.topo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn {
  padding: 8px 14px;
  background: #007bff;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.grid {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  gap: 20px;
}

.card {
  border: 1px solid #ddd;
  padding: 15px;
  border-radius: 10px;
  text-align: center;
}

.card img {
  width: 100%;
  border-radius: 6px;
  margin-bottom: 10px;
}

.botoes {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.btn.edit {
  background: #ffc107;
}

.btn.delete {
  background: #dc3545;
}
