<footer class="footer">
    <div class="footer-content">
  
      <!-- Logo -->
      <div class="footer-logo">
        <h2>Doces da Ju</h2>
      </div>
  
      <!-- Navegação -->
      <nav class="footer-nav">
        <a href="#">Home</a>
        <a href="#">Produtos</a>
        <a href="#">Sobre</a>
      </nav>
  
      <!-- Redes sociais -->
      <div class="footer-social">
        <a href="#"><img src="img/instagram1.png" alt="Instagram"></a>
        <a href="#"><img src="img/facebook1.png" alt="Facebook"></a>
        <a href="#"><img src="img/whatsapp2.png" alt="Whastapp"></a>
      </div>
  
    </div>
  </footer>