<header class="header">
  <div class="header-content">

    <a class="logo" routerLink="/">Doces da Ju</a>
    
    <nav class="nav-links">
      <a routerLink="/">Home</a>
      <a routerLink="/produtos">Produtos</a>
      <a routerLink="/sobre">Sobre</a>
    </nav>

    <div class="header-right">

      <div class="auth-links">
        
        <ng-container *ngIf="isUserLoggedIn">
          <a (click)="navegarParaPerfil()" class="auth-icon" title="Meu Perfil">
            <i class="fa-solid fa-user"></i>
          </a>
          <a (click)="logout()" class="auth-icon" title="Sair">
            <i class="fa-solid fa-right-from-bracket"></i>
          </a>
        </ng-container>

        <ng-container *ngIf="!isUserLoggedIn">
          <a routerLink="/login" class="auth-icon" title="Fazer Login">
            <i class="fa-solid fa-user"></i>
          </a>
          <a routerLink="/cadastro" class="auth-icon auth-register" title="Cadastrar">
            Cadastrar
          </a>
        </ng-container>
      </div>
      
      <button class="cart-btn">
        <a href="/carrinho"><i class="fa-solid fa-cart-shopping"></i></a>
        <span class="cart-count">{{ cartItemCount }}</span>
      </button>

      <button class="mobile-menu-btn" (click)="toggleMenu()">
        &#9776;
      </button>

    </div>

  </div>

  <div class="mobile-menu" [class.active]="menuAberto">
    <button class="close-btn" (click)="toggleMenu()">×</button>

    <nav>
      <a routerLink="/" (click)="toggleMenu()">Home</a>
      <a routerLink="/produtos" (click)="toggleMenu()">Produtos</a>
      <a routerLink="/sobre" (click)="toggleMenu()">Sobre</a>
      <a routerLink="/contato" (click)="toggleMenu()">Contato</a>

      <a *ngIf="isUserLoggedIn" (click)="navegarParaPerfil(); toggleMenu()">Meu Perfil</a>
      <a *ngIf="isUserLoggedIn" (click)="logout()">Sair</a>
      
      <a *ngIf="!isUserLoggedIn" routerLink="/login" (click)="toggleMenu()">Fazer Login</a>
      <a *ngIf="!isUserLoggedIn" routerLink="/cadastro" (click)="toggleMenu()">Cadastrar</a>
    </nav>
  </div>

  <div class="overlay" [class.active]="menuAberto" (click)="toggleMenu()"></div>
</header>
