<section class="hero">
    <div class="hero-content">
      <h1>
        <span class="highlight">Doces, Bolos e Salgados</span> feitos com carinho
        para todos os momentos
      </h1>
  
      <p class="subtitle">
        Encomende bolos, tortas, doces e salgados para festas ou para aproveitar em casa.
      </p>
  
      <button class="btn-hero"><a href="/produtos">Ver produtos</a></button>
    </div>
  
    <div class="hero-image">
      <img src="/img/bolo-hero.png" alt="Bolo delicioso">
    </div>
  </section>
