:host {
    display: block;
    width: 100%;
    overflow-x: hidden; /* garante que nada estoure */
  }

.hero {
    width: 100%;
    max-width: 100%;
    padding: 3rem 1rem;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 60px 5%;
    background-color: #fff7ec; /* tom clarinho */
}

.hero-content {
  max-width: 520px;
}

.hero h1 {
  font-size: 2.8rem;
  line-height: 1.2;
  color: #333;
  margin-bottom: 20px;
}

.highligt {
  color: #ff758f; /* rosa suave */
  font-weight: 700;
}

.subtitle {
  font-size: 1.15rem;
  color: #555;
  margin-bottom: 25px;
}

/* Botão */
.btn-hero {
  background-color: #ff8ba7; /* rosa */
  padding: 14px 26px;
  font-size: 1rem;
  border: none;
  border-radius: 10px;
  color: white;
  cursor: pointer;
  transition: 0.2s ease;
}

.btn-hero:hover {
  background-color: #ff6f91;
}

/* Imagem */
.hero-image img {
  width: 380px;
  max-width: 100%;
  animation: float 4s ease-in-out infinite;
}

/* Responsivo */
@media (max-width: 900px) {
  .hero {
    flex-direction: column-reverse;
    text-align: center;
    padding: 40px 5%;
  }

  .hero-content {
    max-width: 100%;
  }

  .hero-image img {
    width: 260px;
  }

  .hero h1 {
    font-size: 2.2rem;
    margin-top: 25px;
  }
}