<aside class="sidebar">
  <div class="menu-header">
    <h3>Admin Painel</h3>
  </div>
  
  <nav class="menu-nav">
    <ul>
      <li>
        <a routerLink="/admin" 
           routerLinkActive="active" 
           [routerLinkActiveOptions]="{exact: true}">
           <i class="fa-solid fa-chart-line"></i> Visão Geral
        </a>
      </li>

      <li>
        <a routerLink="/admin/pedidos" routerLinkActive="active">
          <i class="fa-solid fa-receipt"></i> Pedidos
        </a>
      </li>

      <li>
        <a routerLink="/admin/produtos" routerLinkActive="active">
          <i class="fa-solid fa-boxes-stacked"></i> Produtos
        </a>
      </li>

      <li>
        <a routerLink="/admin/criar-produto" routerLinkActive="active">
          <i class="fa-solid fa-plus"></i> Novo Produto
        </a>
      </li>
    </ul>
  </nav>

  <div class="menu-footer">
    <button (click)="logout()" class="btn-logout">
      <i class="fa-solid fa-right-from-bracket"></i> Sair
    </button>
  </div>
</aside>
