<section class="produtos">
    <h2>Produtos Populares</h2>
  
    <div class="carousel-wrapper">
      <button class="nav-btn prev">❮</button>
  
      <div class="carousel" #carousel>
        <div class="produto-card" *ngFor="let produto of produtos">
          <img [src]="produto.image" [alt]="produto.name">
  
          <h3>{{ produto.name }}</h3>
          <p class="price">R$ {{ produto.price }}</p>
  
          <button class="btn-buy">Encomendar</button>
        </div>
      </div>
  
      <button class="nav-btn next">❯</button>
    </div>
</section>
