<div class="cadastro-container">
  <div class="cadastro-card">

    <h2>Crie sua conta</h2>
    <p class="subtitle">Preencha os dados abaixo</p>

    <form #form="ngForm" (ngSubmit)="cadastrar()" class="cadastro-form">

      <div class="input-group">
        <label>Nome</label>
        <input type="text" name="nome" required [(ngModel)]="nome">
      </div>

      <div class="input-group">
        <label>Email</label>
        <input type="email" name="email" required [(ngModel)]="email">
      </div>

      <div class="input-group">
        <label>Telefone (WhatsApp)</label>
        <input type="tel" name="telefone" required placeholder="(71) 99999-9999" [(ngModel)]="telefone">
      </div>


      <div class="input-group">
        <label>Senha</label>
        <input type="password" name="senha" required minlength="6" [(ngModel)]="senha">
      </div>

      <div class="input-group">
        <label>Confirmar senha</label>
        <input type="password" name="senha2" required [(ngModel)]="senha2">
      </div>

      <div class="lgpd-info lgpd-group">
        <p>Os dados serão mantidos em nossa base de dados, só enquanto for desejado por você. A qualquer momento, será possível editar ou remover tais dados. <a target="_blank" routerLink="/termos-e-condicoes">Termos e Condições</a></p>
      </div>
        
        <div class="lgpd-consentimento lgpd-group">
          <input 
            type="checkbox" 
            id="consentimentoLGPD" 
            name="consentimentoLGPD" 
            required 
            [(ngModel)]="consentimentoLGPD"
          >
          <label for="consentimentoLGPD">Sim, li e concordo com nossos termos.</label>
        </div>

      <p class="error" *ngIf="erro">{{ erro }}</p>

      <button type="submit" [disabled]="form.invalid">Cadastrar</button>
    </form>

    <a class="login-link" routerLink="/login">Já tenho conta</a>

  </div>
</div>
