<div class="container-form">
  <h2>{{ isEditMode ? 'Editar Produto' : 'Novo Produto' }}</h2>

  <form [formGroup]="produtoForm" (ngSubmit)="onSubmit()">
    
    <div class="form-group">
      <label>Nome do Produto</label>
      <input type="text" formControlName="nome" placeholder="Ex: Bolo de Chocolate">
      <span class="error-msg" *ngIf="produtoForm.get('nome')?.invalid && (produtoForm.get('nome')?.touched || produtoForm.get('nome')?.dirty)">
        O nome é obrigatório.
      </span>
    </div>

    <div class="form-group">
      <label>Preço (R$)</label>
      <input type="number" formControlName="preco" placeholder="0.00">
      <span class="error-msg" *ngIf="produtoForm.get('preco')?.invalid && (produtoForm.get('preco')?.touched || produtoForm.get('preco')?.dirty)">
        Digite um preço válido (maior que 0).
      </span>
    </div>

    <div class="form-group">
      <label>Categoria</label>
      <select formControlName="categoria">
        <option value="" disabled selected>Selecione uma opção...</option>
        <option *ngFor="let cat of categorias" [value]="cat">{{ cat }}</option>
      </select>
      <span class="error-msg" *ngIf="produtoForm.get('categoria')?.invalid && (produtoForm.get('categoria')?.touched || produtoForm.get('categoria')?.dirty)">
        Selecione uma categoria válida.
      </span>
    </div>

    <div class="form-group">
      <label>Descrição</label>
      <textarea formControlName="descricao" rows="3" placeholder="Descrição curta do produto"></textarea>
      <span class="error-msg" *ngIf="produtoForm.get('descricao')?.invalid && (produtoForm.get('descricao')?.touched || produtoForm.get('descricao')?.dirty)">
        A descrição é obrigatória.
      </span>
    </div>

    <div class="form-group">
      <label>URL da Imagem</label>
      <input type="text" formControlName="imagem" placeholder="http://...">
      <span class="error-msg" *ngIf="produtoForm.get('imagem')?.invalid && (produtoForm.get('imagem')?.touched || produtoForm.get('imagem')?.dirty)">
        A URL da imagem é obrigatória.
      </span>
    </div>

    <div class="actions">
      <button type="button" class="btn-cancel" (click)="onCancelar()">Cancelar</button>
      
      <button type="submit" class="btn-save" [disabled]="produtoForm.invalid">
        {{ isEditMode ? 'Salvar Alterações' : 'Criar Produto' }}
      </button>
    </div>

  </form>
</div>